@import url(https://fonts.googleapis.com/css?family=Kurale&display=swap&subset=cyrillic);

html {
	font-family: 'Kurale', serif;
	scroll-behavior: smooth;
}

img {
	max-width: 100%;  height: auto;
}

.text-center {
	text-align: center;
}

textarea {
	width: 90%;
	height: 100px;
}

.product {
	color: white;
	height: 200px;
}

.product-one::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	filter: brightness(80%);
	background: url(../img/330.jpg) no-repeat center center / cover;
}

.product-two::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	filter: brightness(80%);
	background: url(../img/660.jpg) no-repeat center center / cover;
}

.product-three::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	filter: brightness(80%);
	background: url(../img/1000.jpg) no-repeat center center / cover;
}

.about-product {
	height: 100%;
	position: relative;
}