@import url(https://fonts.googleapis.com/css?family=Kurale&display=swap&subset=cyrillic);

html {
	font-family: 'Kurale', serif;
	font-size: 16px;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

img {
	max-width: 100%;  height: auto;
}

.text-center {
	text-align: center;

}




:root {
	/* --main: #fa4f00;
	--accent: #EAAD0A;
	--bg-dark:	#30103a;
	--bg-light: #f0e9e9;
	--text-light: #ffffff;
	--text-dark: #000000;
	--link: #fe3300; */

	--main: #F1A011;
	--accent: #ce5f05;
	--bg-dark:	#270000;
	--bg-light: #f3f3f3;
	--text-light: #e4e2e2;
	--text-dark: #000000;
	--link: #B93D25;
	--warning: rgb(204, 45, 5);
}


h1, h2, h3, h4, h5, h6 {
	color: var(--main);
	line-height: 1.2;
	margin: 15px 0;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.4em;
	opacity: 95%;
}

h4, h5, h6 {
	color: var(--accent);
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 1.2em;
	opacity: 90%;
}

h6 {
	font-size: 1.1em;
	opacity: 90%;
}

a {
	color: var(--link);
}

p, li {
	color: var(--text-dark);
}

.warning {
	position: relative;
	color: var(--warning);
	text-shadow: 10px 5px 0px rgba(204, 45, 5, 0.1);
	font-size: 3em;
	font-weight: bold;
	margin: 0;
}

.accent {
	position: relative;
	color: var(--warning);
	text-shadow: 5px 3px 0px rgba(204, 45, 5, 0.1);
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
}

.subaccent {
	position: relative;
	color: var(--warning);
	font-size: 1em;
	font-weight: normal;
	line-height: 1;
	margin: 0;
}

section {
	background: var(--bg-light);
}

#header-section {
	position: relative;
	background: url(../img/bg.jpeg) no-repeat center center / cover;
	padding: 0 0 25px 0;
}

#header-section::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	background: rgb(48,16,58);
	background: -webkit-linear-gradient(260deg, #000000 0%, #3a0000 100%);
	background: -o-linear-gradient(260deg, #000000 0%, #3a0000 100%);
	background: -moz-linear-gradient(260deg, #000000 0%, #3a0000 100%);
	background: linear-gradient(260deg, #000000 0%, #3a0000 100%);
	opacity: 0.6; 
}

.title-header {
	height: 250px;
}

.subtitile-opening {
	margin: 0 0 25px 0;
}


#opening-section {
	padding: 30px 0 50px 0;
}

.opening-accent-number {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	right: 20px;
}
.opening-bee-item {
	position: relative;
}

.honey-botls img {
	height: 50px;
	margin: 50px 0 0 0;
}

.honey-botls {
	border-bottom: 5px solid var(--text-dark);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.why:before {
	color: var(--main);
	content: 'Почему?';
	position: absolute;
	top: 0px; left: 2px;
	height: 100%; width: 100%;
	opacity: 0.1;
	font-size: 2em;
	transform: rotate(0deg);
}

.end-opening {
	margin: 25px 0 0 0;
}


#head-only-section {
	position: relative;
	background: url(../img/bg-only.jpg) no-repeat center center / cover;
}


#head-only-section::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	background: rgb(48,16,58);
	background: -webkit-linear-gradient(260deg, #270000 0%, #000000 100%);
	background: -o-linear-gradient(260deg, #270000 0%, #000000 100%);
	background: -moz-linear-gradient(260deg, #270000 0%, #000000 100%);
	background: linear-gradient(260deg, #270000 0%, #000000 100%);
	opacity: 0.6;
}

#visit-section {
	position: relative;
	background: url(../img/bg-only.jpg) no-repeat center center / cover;
}


#visit-section::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	background: rgb(48,16,58);
	background: -webkit-linear-gradient(260deg, #270000 0%, #000000 100%);
	background: -o-linear-gradient(260deg, #270000 0%, #000000 100%);
	background: -moz-linear-gradient(260deg, #270000 0%, #000000 100%);
	background: linear-gradient(260deg, #270000 0%, #000000 100%);
	opacity: 0.6;
}


#order-section {
	position: relative;
	background: url(../img/bg-only.jpg) no-repeat center center / cover;
}


#order-section::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	background: rgb(48,16,58);
	background: -webkit-linear-gradient(260deg, #270000 0%, #000000 100%);
	background: -o-linear-gradient(260deg, #270000 0%, #000000 100%);
	background: -moz-linear-gradient(260deg, #270000 0%, #000000 100%);
	background: linear-gradient(260deg, #270000 0%, #000000 100%);
	opacity: 0.6;
}

#head-comments-section {
	position: relative;
	background: url(../img/bg-only.jpg) no-repeat center center / cover;
}


#head-comments-section::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	background: rgb(48,16,58);
	background: -webkit-linear-gradient(260deg, #270000 0%, #000000 100%);
	background: -o-linear-gradient(260deg, #270000 0%, #000000 100%);
	background: -moz-linear-gradient(260deg, #270000 0%, #000000 100%);
	background: linear-gradient(260deg, #270000 0%, #000000 100%);
	opacity: 0.6;
}

#head-price-section {
	position: relative;
	background: url(../img/bg-only.jpg) no-repeat center center / cover;
}


#head-price-section::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	background: rgb(48,16,58);
	background: -webkit-linear-gradient(260deg, #270000 0%, #000000 100%);
	background: -o-linear-gradient(260deg, #270000 0%, #000000 100%);
	background: -moz-linear-gradient(260deg, #270000 0%, #000000 100%);
	background: linear-gradient(260deg, #270000 0%, #000000 100%);
	opacity: 0.6;
}

.logo img {
	height: 100px;
}

.product {
	color: white;
	height: 200px;
}

.product-one::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	filter: brightness(80%);
	background: url(../img/330.jpg) no-repeat center center / cover;
}

.product-two::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	filter: brightness(80%);
	background: url(../img/660.jpg) no-repeat center center / cover;
}

.product-three::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	filter: brightness(80%);
	background: url(../img/1000.jpg) no-repeat center center / cover;
}

.about-product {
	height: 100%;
	position: relative;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
	.subtitile-opening {
		margin: 0 0 50px 0;
	}
	#head-only-section {
		padding: 100px 0 25px 0;
	}
	h1 {
		font-size: 3em;
	}
	
	h2 {
		font-size: 2.5em;
	}
	
	h3 {
		font-size: 1.9em;
	}
	
	h4 {
		font-size: 1.4em;
	}

	.honey-botls img {
		height: 50px;
		margin: 20px 0 0 0;
	}

}

@media (min-width: 992px) {

	h1 {
		font-size: 3em;
	}
	
	h2 {
		font-size: 2.5em;
	}
	
	h3 {
		font-size: 2em;
	}
	
	h4 {
		font-size: 1.5em;
	}

.warning {
	font-size: 4em;
}

.subaccent {
	font-size: 1.5em;
}
}

@media (min-width: 1200px) {

	.opening-bee-item {
		height: 150px;
	}

	h1 {
		font-size: 4em;
	}
	
	h2 {
		font-size: 3.5em;
	}
	
	h3 {
		font-size: 2.5em;
	}
	
	h4 {
		font-size: 1.7em;
	}

	h5 {
		font-size: 1.5em;
	}

	.warning {
		font-size: 4em;
	}

	.subaccent {
		font-size: 1.5em;
	}
}